<!-- _includes/about-card.html -->
<main class="container">
  <!-- 自我介绍 -->
  <div class="card">
    <p>
      Hello, I'm Emily Chin. With seven years of experience in the IT field, I
      have a profound understanding of the key points in informatization
      construction across various industries.
    </p>

    <p>
      I am proficient in programming, product design, pre-sales work, and basic
      IT after-sales services. Additionally, I possess in-depth knowledge of
      Chinese IT companies. This is my personal website.
    </p>

    <p>
      Besides sharing my professional work, I also look forward to sharing my
      life with you all. In my leisure time, I enjoy reading and building with
      LEGO sets. Currently, I'm actively learning about artificial intelligence
      and improving my English skills.
    </p>

    <p>
      I warmly welcome you to join me in discussions on these topics. You can
      get in touch with me through the following channels:
    </p>
    <style>
      .card p {
        margin-bottom: 1.5em;
      }

      .card ul {
        margin-top: 3em;
      }

      .card li {
        margin-bottom: 1.5em;
      }
    </style>
    <ul style="list-style: none; padding-left: 0">
      <li>
        GitHub:
        <a href="https://github.com/shmilyxiaoqin" target="_blank"
          >https://github.com/shmilyxiaoqin</a
        >
      </li>
      <li>
        Email: <a href="mailto:qin.x06410@gmail.com">qin.x06410@gmail.com</a>
      </li>
    </ul>
  </div>
</main>
